{{> repertoireVipsPartial}}
<table>
  <tr>
    {{#each list}}


        {{#ifCond this.PHOTO_NUMERO '===' 1 }}
          <td>
            <p><img src="/images/vip/{{this.PHOTO_ADRESSE}}"></p>
            <a href="/repertoire/vip/{{this.VIP_NUMERO}}">{{this.VIP_NOM}}</a>
          </td>
        {{/ifCond}}


    {{/each}}
  </tr>
</table>
