<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <script src="https://code.jquery.com/jquery-3.2.0.js" integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ="  crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/png" href="/css/etoile.ico" sizes="16x16"/>
        <link rel="stylesheet" href="/admin/css/structure.css" />

        <title> {{title}}</title>
    </head>
    <body class="monBody">
        <div id="container">
            <div id="header">
                <div class="baniere"><img src="/images/sixvoix.png" alt="SIXVOIX l'encyclopédie des stars" /> </div>
            </div>
            <div class="menu_haut">
              {{#if session.connected}}
                <p id="login"> Bonjour {{session.login}}<a href="/deco"> <input type=submit value="Déconnexion"></a></p>
              {{/if}}
              <ul>
                <li><a href="/admin/vip">VIPS</a></li>
                <li><a href="/admin/photos">PHOTOS</a></li>

              </ul>

            </div>
            <div id="contenu">

                <br/>
                <br/>

                {{{body}}}
            </div>
            <div id="footer">
                L'encyclopédie des stars depuis février 2017 (en NodeJS)
                <br />
                © IUT du Limousin DUT Informatique année 2
                <br />
                Application réalisée par Paul CARPENTIER et Baptiste MONNIER
                <br />
                <img src="/images/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
            </div>
        </div>
    </body>
</html>
