<ul id="menuAdminVip">
  <li><img src="/images/vips.png"></li>
  <li class="menuAdminVipChoice"><a href="/admin/vip/ajout">Ajouter</a></li>
  <li class="menuAdminVipChoice"><a href="/admin/vip/modif">Modifier</a></li>
  <li class="menuAdminVipChoice"><a href="/admin/vip/suppr">Supprimer</a></li>
</ul>
